<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>controller</display-name>
    <servlet-name>controller</servlet-name>
    <servlet-class>vn.iotstar.controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller</servlet-name>
    <url-pattern>/controller</url-pattern>
  </servlet-mapping>
  <display-name>kiemtragiuakyltw</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProductService</display-name>
    <servlet-name>ProductService</servlet-name>
    <servlet-class>vn.iotstar.services.ProductService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductService</servlet-name>
    <url-pattern>/ProductService</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ProductController</display-name>
    <servlet-name>ProductController</servlet-name>
    <servlet-class>vn.iotstar.controller.ProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductController</servlet-name>
    <url-pattern>/ProductController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Productcontroller</display-name>
    <servlet-name>Productcontroller</servlet-name>
    <servlet-class>vn.iotstar.controller.Productcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Productcontroller</servlet-name>
    <url-pattern>/Productcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserService_22162042</display-name>
    <servlet-name>UserService_22162042</servlet-name>
    <servlet-class>vn.iotstar.services.UserService_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserService_22162042</servlet-name>
    <url-pattern>/UserService_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController_22162042</display-name>
    <servlet-name>UserController_22162042</servlet-name>
    <servlet-class>vn.iotstar.controller.UserController_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController_22162042</servlet-name>
    <url-pattern>/UserController_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookController_22162042</display-name>
    <servlet-name>BookController_22162042</servlet-name>
    <servlet-class>vn.iotstar.controller.admin.BookController_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookController_22162042</servlet-name>
    <url-pattern>/BookController_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RatingController_22162042</display-name>
    <servlet-name>RatingController_22162042</servlet-name>
    <servlet-class>vn.iotstar.controller.admin.RatingController_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RatingController_22162042</servlet-name>
    <url-pattern>/RatingController_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthorController_22162042</display-name>
    <servlet-name>AuthorController_22162042</servlet-name>
    <servlet-class>vn.iotstar.controller.admin.AuthorController_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorController_22162042</servlet-name>
    <url-pattern>/AuthorController_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController_22162042</display-name>
    <servlet-name>HomeController_22162042</servlet-name>
    <servlet-class>vn.iotstar.controller.admin.HomeController_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController_22162042</servlet-name>
    <url-pattern>/HomeController_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController_22162042</display-name>
    <servlet-name>LoginController_22162042</servlet-name>
    <servlet-class>vn.iotstar.controller.auth.LoginController_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController_22162042</servlet-name>
    <url-pattern>/LoginController_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController_22162042</display-name>
    <servlet-name>RegisterController_22162042</servlet-name>
    <servlet-class>vn.iotstar.controller.auth.RegisterController_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController_22162042</servlet-name>
    <url-pattern>/RegisterController_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController_22162042</display-name>
    <servlet-name>LogoutController_22162042</servlet-name>
    <servlet-class>vn.iotstar.controller.auth.LogoutController_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController_22162042</servlet-name>
    <url-pattern>/LogoutController_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController_22162042a</display-name>
    <servlet-name>HomeController_22162042a</servlet-name>
    <servlet-class>vn.iotstar.controller.user.HomeController_22162042a</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController_22162042a</servlet-name>
    <url-pattern>/HomeController_22162042a</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookDao_22162042</display-name>
    <servlet-name>BookDao_22162042</servlet-name>
    <servlet-class>vn.iotstar.dao.impl.BookDao_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookDao_22162042</servlet-name>
    <url-pattern>/BookDao_22162042</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IBookDao_22162042</display-name>
    <servlet-name>IBookDao_22162042</servlet-name>
    <servlet-class>vn.iotstar.dao.impl.IBookDao_22162042</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IBookDao_22162042</servlet-name>
    <url-pattern>/IBookDao_22162042</url-pattern>
  </servlet-mapping>
</web-app>